<!DOCTYPE html>
<html ng-app="Maze">
<head>
  <title>PusherMaze</title>
  	<!-- <script src="http://fb.me/JSXTransformer-0.11.2.js"></script> -->
	    <!-- <script src="http://fb.me/JSXTransformer-0.11.2.js"></script> -->
	 <!-- <script src="http://fb.me/react-0.11.2.js"></script> -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>


  <!-- <script src="assets/testing.js" type="text/jsx"></script> -->

  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no" />
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
